/*****************************************************************
        Navigation CSS
******************************************************************/

/* .header-right-panel {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0px 16px 0px 0px;
    padding: 5px 0px;
} */

#login-info {
    font-size:13px;
    display:flex;
    line-height:40px
}

#login-info #usrInfo {
    min-width: 80px; cursor: pointer;
}

#login-info .usr-nm{
    color:#fff;
} 

#login-info .dropdown-menu {
	right : 0px !important;
	top : 40px !important;
	transform : none !important;
}

#login-info .dropdown-item{
	padding:2px 15px
}

#login-info .dropdown-menu.show{
	top : 42px !important;
    left: auto;
}

.theme-list{
    margin: 0 auto;
    padding:0;
    display: flex;
    width:100%;
}

.theme-list>li{
    display: inline-block;
    text-align: center;
    padding: 0
}

.theme-list-item{
    height:70px;
    width: 85px;
    display:block;
    text-decoration: none;
    color: #666;
    margin:0 auto;
}

.theme-list-item:hover {
    background:#eee;
    border-radius:10px;
}


.theme-list-item:active {
    background: #886ab5;
    color:#fff;
}

.theme-list-name {
    text-align: center;
    font-size: .8125rem;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    line-height:1;
}

.navbar-toggler {
    margin-left: auto;
}

/*****************************************************************
    
******************************************************************/